<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDz0W2hNBjeWVdP9xrqE2ITSq4PYld5ujU</string>
	<key>GCM_SENDER_ID</key>
	<string>629948089715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.Bin.RemoteConfig</string>
	<key>PROJECT_ID</key>
	<string>fir-remoteconfigapp-95e0b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-remoteconfigapp-95e0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629948089715:ios:dd7ee5b29b5c0fc27cf106</string>
</dict>
</plist>